<!DOCTYPE html>
<html lang="en">

  <head>
    <title>News Articles</title>
  </head>

  <body>
    <h1>Please submit an article</h1>

    <form action="/articles/new" method="post">

      <label for="article_title">Article Title:</label>
      <input type="text" id="article_title" name="article_title">
      </br>
      </br>

      <label for="article_description">Article Description:</label>
      <input type="text" id="article_description" name="article_description">
      </br>
      </br>

      <label for="article_url">Article URL:</label>
      <input type="text" id="article_url" name="article_url">
      </br>
      </br>

      <input type="submit">
    </form>

  </br>
  <a href="/articles">View Submitted Articles</a>

  </body>
</html>
